@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --font-size: 20px;
    --primary-color: white;
}




.navigation-font {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: var(--font-size);
    padding: 25px 25px 0px 25px;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    overflow: hidden;
}


  


.navigation-font::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: -100%;
    transition: left 0.3s ease-in-out;
}

.navigation-font:hover::before {
    left: 23px;
}

.scrollup {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
}